---
import Layout from "../../layout/Layout.astro";
import type { Blog } from "../../types/microcms";
import { getAllBlogList, getBlogDetail } from "../../libs/api/microcms";
import "./blogDetail.scss";
export async function getStaticPaths() {
  const blogList = await getAllBlogList({
    fields: ["id"],
  });
  return blogList.map((blog) => ({
    params: {
      id: blog.id,
    },
  }));
}
const { id } = Astro.params;
if(!id) {
  return Astro.redirect("/404");
}

const blog: Blog = await getBlogDetail(id);
const pageTitle = blog.title;

---

<Layout pageTitle={pageTitle}>
  <main>
    <article class="c-post-detail">
      <h1 class="title">{blog.title}</h1>
      {blog.thumbnail && (
        <div class="c-post-detail__thumbnail">
        <img src={blog.thumbnail.url} alt={blog.title} transition:name={`thumbnail-${blog.id}`}/>
    </div>
      )}
      <p class="publishedAt">公開日時：{blog.publishedAt}</p>
      <div class="post" set:html={blog.content} />
    </article>
    <ul class=""></ul>
  </main>
</Layout>
