---
import { BLOG_LIMIT } from "../../../constants";
import Layout from "../../../layout/Layout.astro";
import { getBlogList } from "../../../libs/api/microcms";
import BlogList from "../../../components/BlogList.astro";
import Pagination from "../../../components/Pagination.astro";

const pageTitle = "ブログ一覧";

export async function getStaticPaths() {
  const { totalCount } = await getBlogList({ limit: BLOG_LIMIT });
  const totalPages = Math.ceil(totalCount / BLOG_LIMIT);
  return Array.from({ length: totalPages }, (_, i) => ({
    params: { page: String(i + 1) },
  }));
}
const page = isNaN(Number(Astro.params.page)) ? 1 : Number(Astro.params.page);

const { contents: blogList, totalCount } = await getBlogList({
  limit: BLOG_LIMIT,
  offset: (page - 1) * BLOG_LIMIT,
});
---

<Layout pageTitle={pageTitle}>
  <main>
    <h1>ブログ一覧</h1>
    <BlogList blogList={blogList} />
    <Pagination
      limit={BLOG_LIMIT}
      totalCount={totalCount}
      page={page}
      basePath="/blog"
    />
  </main>
</Layout>
