---
import { ClientRouter } from "astro:transitions";
// import { ViewTransitions } from "astro:transitions";
import Header from "./Header.astro";
const { pageTitle } = Astro.props;
import "../styles/global.scss";
import { CountButton } from "../components/CountButton";
export const prerender = false;
// リクエスト情報にアクセス
const url = Astro.url;
const userAgent = Astro.request.headers.get("user-agent");
const now = new Date().toLocaleString('ja-JP');
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <CountButton client:load transition:persist="counter" />
    <p>現在のURL: {url.pathname}</p>
    <p>ユーザーエージェント: {userAgent}</p>
    <p>現在時刻: {now}</p>
    <slot />
  </body>
</html>

<style is:global>
  @keyframes bump {
    0% {
      opacity: 0;
      transform: scale(1) translateX(200px);
    }
    50% {
      opacity: 0.5;
      transform: scale(1.1);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
